<form class="border border-dark rounded" style="margin: 1%;" (keyup)="addAnswer()">
  <div class="form-row" style="margin: 1%;">
    <label>Answers:</label>
    <label style="margin-left: 30%;">Is correct</label>
  </div>
  <div class="form-row" style="margin: 1%;">
    <label>1.</label>
    <input type="text" class="form-control" style="width: 30%; margin-left: 1%;" #odgovor1>
    <input type="checkbox" style="margin-left: 5%;">
  </div>
  <div class="form-row" style="margin: 1%;">
    <label>2.</label>
    <input type="text" class="form-control" style="width: 30%; margin-left: 1%;" #odgovor2>
    <input type="checkbox" style="margin-left: 5%;">
  </div>
  <div class="form-row" style="margin: 1%;">
    <label>3.</label>
    <input type="text" class="form-control" style="width: 30%; margin-left: 1%;" #odgovor3>
    <input type="checkbox" style="margin-left: 5%;">
  </div>
  <div class="form-row" style="margin: 1%;">
    <label>3.</label>
    <input type="text" class="form-control" style="width: 30%; margin-left: 1%;" #odgovor4>
    <input type="checkbox" style="margin-left: 5%;">
  </div>
</form>