<app-header></app-header>
<p style="text-align: center; font-size: 32px;">Create new inquiry</p>
<form>
  <div class="form-row" style="margin: 1%;">
    <label>Inquiry name</label>
    <input type="text" class="form-control" style="width: 30%; margin-left: 1%;" #inquiryName>
  </div>
  <div class="form-row" style="margin: 1%;">
    <label>Category</label>
    <select class="form-control" style="width: 30%; margin-left: 1%;">
      <option selected></option>
      <option>Sport</option>
      <option>Kultura</option>
    </select>
  </div>
  <button class="btn btn-primary" style="margin: 1%;" (click)="addQuestionGroup()">Add question group</button>
  <section *ngFor="let x of numberOfInquiry; let i = index">
    <app-question-group ></app-question-group>
  </section>
  <div class="row" style="margin: 1%;">
    <button class="btn btn-primary" (click)="save()">Save</button>
    <button class="btn btn-secondary" style="margin-left: 1%;">Cancel</button>
  </div>
</form>